body {
	color: #fff;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
}
a {
	color: #6D8CA0;
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
footer {
	color: rgba(0,0,0,0.6);
	font-size: 0.8rem;
	letter-spacing: 0.07em;
	line-height: 2;
	padding: 30px 0;
	width: 100%;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 60px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}